#navigation{
	height:60px;
	width:60px;
	background-color: ;
	margin:0;
	padding:0;
}
#yeezyGallery{
	font-family: 'Kaushan Script', cursive;
	font-size:50pt;

}
#intro{
	font-size:25pt;
	font color:white;
	margin:0;
}
#photos{
	border:double;
	height:240px;
	width:240px;
	font-size:15pt;
	margin:0;
	padding:0;
}
div
{
    color: white;
}